.container {
    display: flex;
    margin-left: 10px;
}

content {
  display: flex;
  flex: 1;
}

.games-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teams {
    font-size: 16px;
    margin-top: 15px;
}

.game-box {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    background: transparent;
    border: 3px solid rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px;
}

.market {
    width: calc(100% / 2);
    margin-bottom: 10px;
}
  
.outcome {
    margin-right: 5px;
}

.select-button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(212, 131, 8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.select-button.selected {
    background-color: green;
    color: white;
}

.team-logo {
  width: 30px; 
  height: auto; 
  margin-right: 5px; 
}

.success-message{
  position: relative;
  width: 70%;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  background-color: rgba(0, 0, 0, 0.80);
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 35px;
  margin-top: 35px;
  border: 3px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}




  @media (max-width: 768px) {
    .game-box {
      width: calc(100% - 20px);
    }

    .sidebar {
      order: 1; 
      margin-top: 20px; 
  }

  .content {
    flex: 1; 
}
  }
  