.sidebar {
    width: 300px;
    height: 200px;
    background-color: #bbbbbb;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    
    margin-left: 40px;
    border-radius: 10px;
    transition: height 0.3s;
}

.sidebar.has-content {
    height: auto;
  }

.confirm-button{
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    margin: 5px; 
    background-color: rgb(221, 167, 17); 
    color: white; 
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 
    font-size: 18px;
}